<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recetas de cocina</title>
    <!-- site icons -->
        <link rel="icon" href="pag_web/logotipo.jpg" type="image/gif" />
        <!-- bootstrap css -->
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <!-- Site css -->
        <link rel="stylesheet" href="css/style.css" />
        <!-- responsive css -->
        <link rel="stylesheet" href="css/responsive.css" />
        <!-- colors css -->
        <link rel="stylesheet" href="css/colors1.css" />
        <!-- custom css -->
        <link rel="stylesheet" href="css/custom.css" />
        <!-- wow Animation css -->
        <link rel="stylesheet" href="css/animate.css" />
        <!-- revolution slider css -->
        <link rel="stylesheet" type="text/css" href="revolution/css/settings.css" />
        <link rel="stylesheet" type="text/css" href="revolution/css/layers.css" />
        <link rel="stylesheet" type="text/css" href="revolution/css/navigation.css" />
        
        <style>
            img.btn-whatsapp {
            display: block !important;
            position: fixed;
            z-index: 9999999;
            bottom: 20px;
            right: 20px;
            cursor: pointer;
            border-radius:100px !important;
            }
            img.btn-whatsapp:hover{
            border-radius:100px !important;
            -webkit-box-shadow: 0px 0px 15px 0px rgba(7,94,84,1); 
            -moz-box-shadow: 0px 0px 15px 0px rgba(7,94,84,1);
            box-shadow: 0px 0px 15px 0px rgba(7,94,84,1);
            transition-duration: 1s;
            } 
        </style>
    
</head>
<body id="default_theme" class="it_service">
    <img class="btn-whatsapp" src="https://clientes.dongee.com/whatsapp.png" width="64" height="64" alt="Whatsapp" onclick="window.location.href='https://wa.me/5215530204421?text=Hola!%20Estoy%20interesado%20en%20tu%20servicio'">
    <header id="default_header" class="header_style_1">
        <!-- header top -->
        <div class="header_top">
          <div class="container">
            <div class="row">
              <div class="col-md-8">
                <div class="full">
                  <div class="topbar-left">
                    <ul class="list-inline">
                      <li> <span class="topbar-label"><i class="fa  fa-home"></i></span> <span class="topbar-hightlight">Las mejores recetas a tu alcance   </span> </li>
                      <li> <span class="topbar-label"><i class="fa fa-envelope-o"></i></span> <span class="topbar-hightlight"><a href="mailto:info@yourdomain.com">multipedidos@gmail.com</a></span> </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-4 right_section_header_top">
                <div class="float-left">
                  <div class="social_icon">
                    <ul class="list-inline">
                      <li><a class="fa fa-facebook" href="https://www.facebook.com/" title="Facebook" target="_blank"></a></li>
                      <li><a class="fa fa-google-plus" href="https://plus.google.com/" title="Google+" target="_blank"></a></li>
                      <li><a class="fa fa-twitter" href="https://twitter.com" title="Twitter" target="_blank"></a></li>
                      <li><a class="fa fa-linkedin" href="https://www.linkedin.com" title="LinkedIn" target="_blank"></a></li>
                      <li><a class="fa fa-instagram" href="https://www.instagram.com" title="Instagram" target="_blank"></a></li>
                    </ul>
                  </div>
                </div>
           
              </div>
            </div>
          </div>
        </div>
        <!-- end header top -->

        <!-- header bottom -->
        <div class="header_bottom">
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <!-- logo start -->
                <div class="logo"> <a href="inicio.html"><img src="pag_web/logotipo.jpg" alt="logo" /></a> </div>
                <!-- logo end -->
              </div>
              <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <!-- menu start -->
                <div class="menu_side">
                  <div id="navbar_menu">
                    <ul class="first-ul">
                      
                      <li><a href="acerca.html"><img src="pag_web/contacto.gif" alt="" ></a></li>
                      <li> <a href="recetaspostres.html">RECETAS DE POSTRES</a>
                      <li><a href="recetaspastas.html">RECETAS DE PASTAS </a></li>
                      <li><a href="recetasopas.html">RECETAS DE SOPAS</a></li>
                      </li>
                  </div>
                </div>
                <!-- menu end -->
              </div>
            </div>
          </div>
        </div>
        <!-- header bottom end -->
      </header>    
      <div class="section padding_layout_1">
        <div class="container">
          <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12"></div>
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
              <div class="row">
                <div class="full">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="main_heading text_align_center">
                      <h2>Contactanos</h2>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 appointment_form">
                    <div class="form_section">
                      <form class="form_contant" action="inicio.html">
                        <fieldset class="row">
                        <div class="field col-lg-6 col-md-6 col-sm-12 col-xs-12">
                          <input class="field_custom" placeholder="Nombre*" type="text" required>
                        </div>
                        <div class="field col-lg-6 col-md-6 col-sm-12 col-xs-12">
                          <input class="field_custom" placeholder="Apellido" type="text" required>
                        </div>
                        <div class="field col-lg-6 col-md-6 col-sm-12 col-xs-12">
                          <input class="field_custom" placeholder="Email" type="email" required>
                        </div>
                        <div class="field col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <textarea class="field_custom" placeholder="Comentarios" required></textarea>
                        </div>
                        <div class="center">
                          <button class="btn main_bt">Enviar ahora   </button>  <button class="btn main_bt">Borrar</button>
                        </div>  
                        </fieldset>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- section --> 
      
      
</body>
</html>